.slider {
  width: 100%;
  margin-inline: 0;

  .swiper-button-prev {
    color: #fff;
    font-size: 12px;
  }
  .swiper-button-next {
    color: #fff;
    font-size: 12px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
